<% if flash[:notice] || flash[:alert] %>
    <div class='flash'><%= flash[:notice] || flash[:alert] %></div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  <thead>
  <tbody>
    <div id='wit-container'>
      <tr>
        <% @wits.each do |wit| %>
          <td><p class="message"> <%= wit.message %> </p></td>
          <td><p class="time"> <%= wit.created_at %></p> <%= link_to 'Destroy', wit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        <% end %>
    </div>
</table>

<%= form_for(@wit, remote: true, id: 'new-wit') do |f| %>
    <%= f.label :message %>
    <%= f.text_field :message %>
    <%= f.submit %>
<% end %>

